{# app/Resources/views/base.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block titre %}Platz - Free Grid Wordpress Theme{% endblock titre %}</title>

        <!-- Behavioral Meta Data -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/png" href="{{asset('img/small-logo-01.png')}}">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

        {% block style %}
            <link href='{{asset('style.css')}}' rel='stylesheet' type='text/css'>
        {% endblock style %}
    </head>

    <body>
        <a name="ancre"></a>

        <!-- CACHE -->
        <div class="cache"></div>

        <!-- HEADER -->
        {% block header %}
            <div id="wrapper-header">
                <div id="main-header" class="object">
                    <div class="logo"><a href="{{ path('site_ressource') }}"><img src="{{asset('img/logo-burst.png')}}" alt="logo platz" height="38" width="90"></a></div>
                    <div id='user'><a href='{{path('fos_user_profile_show')}}' style='color: white;'><img src="{{asset('img/user.svg')}}" alt="" width="30" /></a></div>
                    <div id="main_tip_search"> 
                        <form>
                            <input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required>
                        </form>
                    </div>

                    <div id="stripes"></div>
                </div>

            </div>
        {% endblock header %}      
        {% block menu %}
            <!-- NAVBAR -->
            <div id="wrapper-navbar">
                <div class="navbar object">
                    <div id="wrapper-sorting">
                        <div id="wrapper-title-1">
                            <div class="top-rated object">Top-rated</div>
                            <div id="fleche-nav-1"></div>
                        </div>

                        <div id="wrapper-title-2">
                            <a href="#"><div class="recent object">Recent</div></a>
                            <div id="fleche-nav-2"></div>
                        </div>

                        <div id="wrapper-title-3">
                            <a href="#"><div class="oldies object">Oldies</div></a>
                            <div id="fleche-nav-3"></div>
                        </div>
                    </div>
                    {{ render(controller('AppBundle:Categorie:getListe')) }}
                </div>
            </div>


            <!-- FILTER -->	

            <div id="main-container-menu" class="object">
                <div class="container-menu">

                    <div id="main-cross">
                        <div id="cross-menu"></div>
                    </div>

                    <div id="main-small-logo">
                        <div class="small-logo"></div>
                    </div>

                    <div id="main-premium-ressource">
                        <div class="premium-ressource"><a href="#">Premium resources</a></div>
                    </div>

                    <div id="main-themes">
                        <div class="themes"><a href="#">Latest themes</a></div>
                    </div>

                    <div id="main-psd">
                        <div class="psd"><a href="#">PSD goodies</a></div>
                    </div>

                    <div id="main-ai">
                        <div class="ai"><a href="#">Illustrator freebies</a></div>
                    </div>

                    <div id="main-font">
                        <div class="font"><a href="#">Free fonts</a></div>
                    </div>

                    <div id="main-photo">
                        <div class="photo"><a href="#">Free stock photos</a></div>
                    </div>

                </div>
            </div>
        {% endblock menu %}

        <!-- PORTFOLIO -->

        <div id="wrapper-container">
            {% block blockPrincipal %}
                <div class="container object">

                    <div id="main-container-image">

                    {% block ressource %}{% endblock ressource %}

                </div>	

            </div>
            <!-- Pagination -->
            {% block pagination %}
                {{ render(controller('AppBundle:Ressource:getPagination', {'page' : page, 'route' : route, 'ressources' : ressources, 'slugCategorie' : slugCategorie, 'nbrRessources' : nbrRessources})) }}
            {% endblock pagination %}
        {% endblock blockPrincipal %}

        <div id="wrapper-thank">
            <div class="thank">
                <div class="thank-text">pl<span style="letter-spacing:-5px;">a</span>tz</div>
            </div>
        </div>

        <div id="main-container-footer">
            <div class="container-footer">

                <div id="row-1f">
                    <div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">What is Platz</span><br>Platz is a blog showcasing hand-picked free themes, design stuff, free fonts and other resources for web designers.</div>
                </div>

                <div id="row-2f">
                    <div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">How does it work</span><br>Platz offers you all the latest freebies found all over the fourth corners without to pay.</div>
                </div>

                <div id="row-3f">
                    <div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Get in touch!</span><br>Subscribe our RSS or follow us on Facebook, Google+, Pinterest or Dribbble to keep updated.</div>
                </div>

                <div id="row-4f">
                    <div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Newsletter</span><br>You will be informed monthly about the latest content avalaible.</div>

                    <div id="main_tip_newsletter"> 
                        <form>
                            <input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div id="wrapper-copyright">
            <div class="copyright">
                <div class="copy-text object">Copyright © 2016. Template by <a style="color:#D0D1D4;" href="https://dcrazed.com/">Dcrazed</a></div>

                <div class="wrapper-navbouton">
                    <div class="google object">g</div>
                    <div class="facebook object">f</div>
                    <div class="linkin object">i</div>
                    <div class="dribbble object">d</div>
                </div>
            </div>
        </div>

    </div>



    <!-- SCRIPT -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.localScroll.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery-animate-css-rotate-scale.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/fastclick.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.animate-colors-min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.animate-shadow-min.js')}}"></script>    
    <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
    <script>

        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function () {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        addLoadEvent(preloader);

    </script>
    {% block script %}
    {% endblock script %}
</body>

</html>
