{# src/UtilisateurBundle/Resources/views/ChangePassword/changePassword.html.twig #}

{% extends "base.html.twig" %}

{% block titre %}
    Mon profil - {{parent()}}
{% endblock titre %}

{% block style %}
    {{parent()}}

    <style>
        #profileDonnees{
            width: 60%;
            float: right;
            background: white;
            padding: 30px;
            margin-right: 20px;
        }
        #top:after{
            content: '';
            display: block;
            clear: both;
        }
        table{
            width: 90%;
            margin: auto;
            font-size: 18px;
        }
        table img{
            width: 80%;
            margin: auto;
        }
        td{
            width: 33%;
        }


        #profileMenu{
            width: 25%;
            float: left;
            background: #2e2d30;
            padding: 20px 10px;
            margin-left: 20px;
        }
        #profileMenu ul{
            width: auto;
            margin: auto;
        }
        #profileMenu li{
            padding: 15px 20px;
        }
        #profileMenu a{
            color:white;
            font-size: 18px;
        }
    </style>

{% endblock style %}

{% block blockPrincipal %}
    <div class="container object">

        <div id="main-container-image">
            <div id='top'>
                <div id='profileDonnees'>
                    <h2>Changer de mot de passe</h2>

                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
             
                    <p>
                    {{ form_label(form.current_password, 'Mot de passe actuel') }}
                    {{ form_widget(form.current_password) }}
                    </p>
                    <p>
                    {{ form_label(form.plainPassword.first, 'Nouveau mot de passe') }}
                    {{ form_widget(form.plainPassword.first) }}
                    </p>
                    <p>
                    {{ form_label(form.plainPassword.second, 'Répéter le nouveau mot de passe') }}
                    {{ form_widget(form.plainPassword.second) }}
                    </p>
                    <div>
                        <input type="submit" value="{{ 'Enregistrer'|trans }}" />
                    </div>
                    
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </div>
                <div id='profileMenu'>
                    <ul>
                        <li><a href='{{path('site_ressource_add')}}'>Ajouter une ressource</a></li>
                        <li><a href='{{path('fos_user_profile_edit')}}'>Modifier mes données</a></li>
                        <li><a href='{{path('fos_user_change_password')}}'>Changer de mot de passe</a></li>
                        <li><a href='{{path('fos_user_security_logout')}}'>Me déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock blockPrincipal %}


