{# src/UtilisateurBundle/Resources/views/Profile/edit.html.twig #}

{% extends "base.html.twig" %}

{% block titre %}
    Mon profil - {{parent()}}
{% endblock titre %}

{% block style %}
    {{parent()}}

    <style>
        #profileDonnees{
            width: 60%;
            float: right;
            background: white;
            padding: 30px;
            margin-right: 20px;
        }
        #top:after{
            content: '';
            display: block;
            clear: both;
        }
        table{
            width: 90%;
            margin: auto;
            font-size: 18px;
        }
        table img{
            width: 80%;
            margin: auto;
        }
        td{
            width: 33%;
        }


        #profileMenu{
            width: 25%;
            float: left;
            background: #2e2d30;
            padding: 20px 10px;
            margin-left: 20px;
        }
        #profileMenu ul{
            width: auto;
            margin: auto;
        }
        #profileMenu li{
            padding: 15px 20px;
        }
        #profileMenu a{
            color:white;
            font-size: 18px;
        }
    </style>

{% endblock style %}

{% block blockPrincipal %}
    <div class="container object">

        <div id="main-container-image">
            <div id='top'>
                <div id='profileDonnees'>
                    <h2>Modifier mes données</h2>

                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    
                    <p>
                    {{ form_label(form.nom, 'Nom') }}
                    {{ form_widget(form.nom) }}
                    </p>
                    <p>
                    {{ form_label(form.prenom, 'Prénom') }}
                    {{ form_widget(form.prenom) }}
                    </p>
                    <p>
                    {{ form_label(form.username, 'Pseudo') }}
                    {{ form_widget(form.username) }}
                    </p>
                    <p>
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email) }}
                    </p>
                    <p>
                    {{ form_label(form.current_password, 'Mot de passe') }}
                    {{ form_widget(form.current_password) }}
                    </p>
                    
                    <div>
                        <input type="submit" value="Enregistrer" />
                    </div>
                    {{ form_errors(form) }}
                    {{ form_end(form) }}

                </div>
                {{ include('UtilisateurBundle:Profile:menu.html.twig') }}
            </div>
        </div>
    </div>
{% endblock blockPrincipal %}


