{# src/UtilisateurBundle/Resources/views/Profile/menu.html.twig #}

<div id='profileMenu'>
    <ul>
        <li><a href='{{path('site_ressource_add')}}'>Ajouter une ressource</a></li>
        <li><a href='{{path('fos_user_profile_edit')}}'>Modifier mes données</a></li>
        <li><a href='{{path('profil_edit_avatar')}}'>Changer mon avatar</a></li>
        <li><a href='{{path('fos_user_change_password')}}'>Changer de mot de passe</a></li>
        <li><a href='{{path('fos_user_security_logout')}}'>Me déconnecter</a></li>
    </ul>
</div>